*{
    padding: 0;
    margin: 0;
}


.mensajeabout{
    position: absolute;
    font-size: 15px;
    width: 15rem;
   display: none;
}

#navbarNav{
    padding-right: 1rem;
}
.nav-link{
    margin-left: 5rem;
    padding: 1rem;
    text-decoration: underline;
    font-family: 'Inter', sans-serif;

}

.logo_responsive{
    display: none;
}

.logo1{
width: 14rem;
padding-left: 1rem;
}

.logo2{
    margin-left: 5rem;
    width: 2rem;
   
}
.section_main{
    padding: 1.5rem;
    
   
}

.section_main_container{
    display: flex;
    margin-top: 7%;
    bottom: 1rem;
    
}

.span{
    visibility: hidden;
    font-family: 'Inter', sans-serif;
}

.rendimiento_div:hover{
    .span{
        visibility: visible;
        text-decoration: underline;
    }
    .rendimiento{
        background-color:#e1ca00;
    }
}

.rendimiento{
    background-color:#d1d1d1;
    width: 100%;
    
    
}

.img_rendimiento{
    width: 96.5%;
    
}

.bots_div:hover{

    .span{
        visibility: visible;
        text-decoration: underline;
    }
    .bots{
        background-color: black;
    }
}

.bots{
    background-color:#d1d1d1;
    width: 100%;

   
}

.img_bots{
    width: 100%;
   
}

.sistemas_div:hover{
    .span{
        visibility: visible;
        text-decoration: underline;
    }
    .sistema{
        background-color: rgb(177, 59, 59);
    }
}

.sistema{
background-color:#d1d1d1;

width: 100%;

}

.img_sistema{
    width: 100%;
    
}

//rendimiento

.body_rendimiento{
    background-color:#e1ca00;
}

.rendimiento_main{
    margin-top: 5rem;
    .title_rendimiento{
        text-decoration: underline;
        font-family: 'Inter', sans-serif;
        
    }
    
}
.contenedorImg{
    margin-top: 8rem;
    img{ 
        width: 20rem;
    }
}

.contenedorParrafo{
    margin-top: 5rem;
    p{
        font-family: 'Inter', sans-serif;
        display: block;
       text-align: start;
    }
}


//bots


.section_bot_mainIMG{
    width: 100%;
    height: 30rem;
    img{
        width: 100%;
        height: 100%;
    }
}

.section_bot_descripcion{
    width: 100%;
    height: 100%;
    background-color: #161715;
    
}

.row_bots{
    
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.article_bot{
   p{
    color: white;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
   }
    #p_datos{
        width: 10.5rem ;
    }
    #datos_bot{
        width: 10.5rem;
    }

    #p_inteligencia{
        justify-content: center;
        text-align: center;
        width: 20rem ;
    }
    #inteligencia_bot{
        width: 21.6rem;
    }

    #p_dashboard{
        width: 16rem;
    }
    #dashboard_bot{
        width: 16.8rem;
    }
    #p_estimulacion{
        width: 21.7rem;
    }
    #estimulacion_bot{
        width: 21.7rem;
    }
    #p_gestion{
        width: 13.7rem;
    }
    #gestion_bot{
        width: 13.7rem;
    }
}


.vectores_bot{
    padding-top: 2rem;
    margin: 2rem;
    margin-top: 0;
}

.nuestros_bot{
    background-color:#908f8e ;
    padding-bottom: 1rem;

    h2{
        font-family: 'Inter', sans-serif;
        margin-bottom: 3rem;
        margin-left: 1rem;
        padding-top: 3rem;
        text-decoration: underline;
    }

    p{
        font-family: 'Inter', sans-serif;
        width: 50%;
        margin-left: 1rem;
        margin-top: 2rem;
        
    }
}

.section_implementacion_bots{
    background-color: #d1d1d1;
   
    .div1_section_implementacion{
        background-color: #e04b29 ;
        padding-top: 1rem;
        height: 15rem;
        

        h2{
            font-family: 'Inter', sans-serif;
            padding-top: 6rem;
            margin-left: 1rem;
            text-decoration: underline;
            width: 50%;
            
        }

    }
}


.article_implementacion_bot{
 padding: 2rem;
 h2{
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
 }
 h3{
    font-family: 'Inter', sans-serif;
 }
}

//sistema

.body_sistema{
    background-color: rgb(177, 59, 59) ;
}

.h2_sistema{
    margin-top: 5rem;
    margin-left: 3rem;
    width: 20rem;
    h2{
        font-family: 'Inter', sans-serif;
        text-decoration: underline;
    }
    
}
.img_sistema_{
    margin-top: 6.5rem;
    width: 100%;
    height: 400px;
    object-fit: cover;
}


@media (max-width: 768px){


//nav
    
#navbarNav{
    padding-right: 1rem;
}
.nav-link{
    margin-left: 5rem;
    padding: 1rem;
    text-decoration: underline;
}

.navbar_list{
    display: none;
}

.logo1{
    
    width: 14rem;
    padding-left: 1rem;
}


.logo2{
    display: none;
    margin-left: 5rem;
    width: 2rem;
   
}




//main


    .section_main_container{
        display: flex;
        flex-direction: column;
        
        margin-top: 7rem;
        height: 23rem;
    }
    
    .span{
        visibility: visible;
        text-decoration: underline;
        font-weight: bold;
        margin-top: 6rem;
    }
    
    .rendimiento_div{
        display: flex;
        justify-content: space-between;
    }

    .rendimiento_div:hover{
        .span{
            visibility: visible;
            text-decoration: underline;
        }
        .rendimiento{
            background-color: #e1ca00;
        }
    }
    
    .rendimiento{
        background-color:#d1d1d1;
        width: 15rem;
        height: 100%;
        
    }
    
    .img_rendimiento{
        width: 100%;
        height: 100%;
    
    }
    
    .bots_div:hover{
    
        .span{
            visibility: visible;
            text-decoration: underline;
        }
        .bots{
            background-color: #161715;
        }
    }
    .bots_div{
        display: flex; 
        justify-content: space-between;
    }
    
    .bots{
        background-color:#d1d1d1;
        height: 15rem;
        width: 15rem;
        background-image: url('/Images/VECTOR\ BOTS\ HORIZONTAL.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .img_bots{
        display: none;
    }
    
    .sistemas_div:hover{
        .span{
            visibility: visible;
            text-decoration: underline;
        }
        .sistema{
            background-color: rgb(177, 59, 59);
        }
    }
    .sistemas_div{
        display: flex;
        justify-content: space-between;
    }
    
    .sistema{
    background-color:#d1d1d1;
    height: 100%;
    width: 15rem;
    
    
    }
    
    .img_sistema{
        width: 100%;
        height: 100%;

    }
 
    //bots

    .section_bot_mainIMG{
        width: 100%;
        height: 50rem;
        background-image: url('/Images/RENDER\ BOT\ VERTICAL.jpg');
        background-size: cover; 
        background-repeat: no-repeat;
        img{
           display: none;
           
        }
    }

    .row_bots{
    
        display: flex;
        flex-direction: column;
        
    }

    
    .article_bot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
        width: 100%;
        color: white;
        padding: 1rem;
        object-position: center;
        }
         #p_datos{
            width: 100%;
             
         }
         #datos_bot{
             width: 50%;
         }
     
         #p_inteligencia{
             justify-content: center;
             text-align: center;
             width: 100%;
         }
         #inteligencia_bot{
             width: 100%;
         }
     
         #p_dashboard{
             width: 100%;
         }
         #dashboard_bot{
             width: 75%;
         }
         #p_estimulacion{
             width: 100%;
         }
         #estimulacion_bot{
             width: 100%;
         }
         #p_gestion{
             width:100%;
         }
         #gestion_bot{
             width: 60%;
         }
     }

     .div_container_img_bot{
        background-color: #e0d700;
     }
    

}