*{
    padding: 0;
    margin: 0;
}

.navbar_list{
    
    
}
#navbarNav{
    padding-right: 1rem;
}
.nav-link{
    margin-left: 5rem;
    padding: 1rem;
    text-decoration: underline;
}

.logo1{
width: 14rem;
padding-left: 1rem;
}

.logo2{
    margin-left: 5rem;
    width: 2rem;
   
}
.section_main{
    padding: 1.5rem;
    
   
}

 
.section_main_container{
    display: flex;
    margin-top: 7rem;
    height: 23rem;
}

.span{
    visibility: hidden;
}

.rendimiento_div:hover{
    .span{
        visibility: visible;
        text-decoration: underline;
    }
    .rendimiento{
        background-color: rgb(224, 211, 31);
    }
}

.rendimiento{
    background-color:#bdbdbc;
    width: 100%;
    height: 100%;
    
}

.img_rendimiento{
    width: 100%;
    height: 100%;

}

.bots_div:hover{

    .span{
        visibility: visible;
        text-decoration: underline;
    }
    .bots{
        background-color: black;
    }
}

.bots{
    background-color:#bdbdbc;
    height: 100%;
    width: 100%;

   
}

.img_bots{
    width: 100%;
    height: 100%;
}

.sistemas_div:hover{
    .span{
        visibility: visible;
        text-decoration: underline;
    }
    .sistema{
        background-color: rgb(177, 59, 59);
    }
}

.sistema{
background-color:#bdbdbc;
height: 100%;
width: 100%;

}

.img_sistema{
    width: 100%;
    height: 100%;
}

//rendimiento

.body_rendimiento{
    background-color: rgb(224, 211, 31) ;
}

.rendimiento_main{
    margin-top: 5rem;
    .title_rendimiento{
        text-decoration: underline;
        
    }
    
}
.contenedorImg{
    margin-top: 8rem;
    img{ 
        width: 20rem;
    }
}

.contenedorParrafo{
    margin-top: 5rem;
    p{
        display: block;
       text-align: start;
    }
}
//bots

.body_bots{
   
}

.section_bot_mainIMG{
    width: 100%;
    height: 30rem;
    img{
        width: 100%;
        height: 100%;
    }
}

.section_bot_descripcion{
    width: 100%;
    height: 100%;
    background-color: black;
    
}

.row_bots{
    
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.article_bot{
   p{
    color: white;
   }
    #p_datos{
        width: 10.5rem ;
    }
    #datos_bot{
        width: 10.5rem;
    }

    #p_inteligencia{
        justify-content: center;
        text-align: center;
        width: 20rem ;
    }
    #inteligencia_bot{
        width: 21.6rem;
    }

    #p_dashboard{
        width: 16rem;
    }
    #dashboard_bot{
        width: 16.8rem;
    }
    #p_estimulacion{
        width: 21.7rem;
    }
    #estimulacion_bot{
        width: 21.7rem;
    }
    #p_gestion{
        width: 13.7rem;
    }
    #gestion_bot{
        width: 13.7rem;
    }
}


.vectores_bot{
    padding-top: 2rem;
    margin: 2rem;
    margin-top: 0;
}

.nuestros_bot{
    background-color:#bdbdbc ;
    padding-bottom: 1rem;
    h2{
        margin-bottom: 5rem;
        margin-left: 1rem;
        padding-top: 2rem;
        text-decoration: underline;
    }

    p{
        width: 50%;
        margin-left: 1rem;
        margin-top: 2rem;
        
    }
}

//sistema

.body_sistema{
    background-color: rgb(177, 59, 59) ;
}

.h2_sistema{
    margin-top: 5rem;
    margin-left: 3rem;
    width: 20rem;
    h2{
        text-decoration: underline;
    }
}
.img_sistema_{
    margin-top: 6.5rem;
    width: 100%;
    height: 400px;
    object-fit: cover;
}