* {
  padding: 0;
  margin: 0; }

.navbar_list {
  margin-right: 1rem; }
  .navbar_list li {
    margin-right: 4rem; }

.logo1 {
  width: 15rem; }

.logo2 {
  width: 2.4rem; }

.section_main {
  margin-top: 5rem;
  width: 100%;
  height: 20rem; }

.section_main div {
  height: 100%; }

.section_main_container {
  margin: 0%;
  width: 100%;
  height: 100%;
  display: flex; }

.span {
  visibility: hidden; }

.rendimiento_div:hover .span {
  visibility: visible;
  text-decoration: underline; }

.rendimiento_div:hover .rendimiento {
  background-color: #e0d31f; }

.rendimiento {
  background-color: grey;
  height: 100%; }

.img_rendimiento {
  width: 100%;
  height: 100%; }

.bots_div:hover .span {
  visibility: visible;
  text-decoration: underline; }

.bots_div:hover .bots {
  background-color: black; }

.bots {
  background-color: grey;
  height: 100%; }

.img_bots {
  width: 100%;
  height: 100%; }

.sistemas_div:hover .span {
  visibility: visible;
  text-decoration: underline; }

.sistemas_div:hover .sistema {
  background-color: #b13b3b; }

.sistema {
  background-color: grey;
  height: 100%; }

.img_sistema {
  width: 100%;
  height: 100%; }

.body_rendimiento {
  background-color: #e0d31f; }

.rendimiento_main {
  margin-top: 5rem; }
  .rendimiento_main .title_rendimiento {
    text-decoration: underline; }

.contenedorImg {
  margin-top: 8rem; }
  .contenedorImg img {
    width: 20rem; }

.contenedorParrafo {
  margin-top: 5rem; }
  .contenedorParrafo p {
    display: block;
    text-align: start; }

.section_bot_mainIMG {
  width: 100%;
  height: 30rem; }
  .section_bot_mainIMG img {
    width: 100%;
    height: 100%; }

.section_bot_descripcion {
  width: 100%;
  height: 100%;
  background-color: black; }

.row_bots {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x)); }

.article_bot p {
  color: white; }

.article_bot #p_datos {
  width: 10.5rem; }

.article_bot #datos_bot {
  width: 10.5rem; }

.article_bot #p_inteligencia {
  justify-content: center;
  text-align: center;
  width: 20rem; }

.article_bot #inteligencia_bot {
  width: 21.6rem; }

.article_bot #p_dashboard {
  width: 16rem; }

.article_bot #dashboard_bot {
  width: 16.8rem; }

.article_bot #p_estimulacion {
  width: 21.7rem; }

.article_bot #estimulacion_bot {
  width: 21.7rem; }

.article_bot #p_gestion {
  width: 13.7rem; }

.article_bot #gestion_bot {
  width: 13.7rem; }

.body_sistema {
  background-color: #b13b3b; }
