* {
  padding: 0;
  margin: 0; }

.mensajeabout {
  position: absolute;
  font-size: 15px;
  width: 15rem;
  display: none; }

#navbarNav {
  padding-right: 1rem; }

.nav-link {
  margin-left: 5rem;
  padding: 1rem;
  text-decoration: underline;
  font-family: 'Inter', sans-serif; }

.logo_responsive {
  display: none; }

.logo1 {
  width: 14rem;
  padding-left: 1rem; }

.logo2 {
  margin-left: 5rem;
  width: 2rem; }

.section_main {
  padding: 1.5rem; }

.section_main_container {
  display: flex;
  margin-top: 7rem;
  margin-bottom: 1.5rem; }

.span {
  visibility: hidden;
  font-family: 'Inter', sans-serif; }

.rendimiento_div:hover .span {
  visibility: visible;
  text-decoration: underline; }

.rendimiento_div:hover .rendimiento {
  background-color: #e1ca00; }

.rendimiento {
  background-color: #d1d1d1;
  width: 100%; }

.img_rendimiento {
  width: 96.5%; }

.bots_div:hover .span {
  visibility: visible;
  text-decoration: underline; }

.bots_div:hover .bots {
  background-color: black; }

.bots {
  background-color: #d1d1d1;
  width: 100%; }

.img_bots {
  width: 100%; }

.sistemas_div:hover .span {
  visibility: visible;
  text-decoration: underline; }

.sistemas_div:hover .sistema {
  background-color: #b13b3b; }

.sistema {
  background-color: #d1d1d1;
  width: 100%; }

.img_sistema {
  width: 100%; }

.body_rendimiento {
  background-color: #e1ca00; }

.rendimiento_main {
  margin-top: 5rem; }
  .rendimiento_main .title_rendimiento {
    text-decoration: underline;
    font-family: 'Inter', sans-serif; }

.contenedorImg {
  margin-top: 8rem; }
  .contenedorImg img {
    width: 20rem; }

.contenedorParrafo {
  margin-top: 5rem; }
  .contenedorParrafo p {
    font-family: 'Inter', sans-serif;
    display: block;
    text-align: start; }

.section_bot_mainIMG {
  width: 100%;
  height: 30rem; }
  .section_bot_mainIMG img {
    width: 100%;
    height: 100%; }

.section_bot_descripcion {
  width: 100%;
  height: 100%;
  background-color: #161715; }

.row_bots {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x)); }

.article_bot p {
  color: white;
  padding: 1rem;
  font-family: 'Inter', sans-serif; }

.article_bot #p_datos {
  width: 10.5rem; }

.article_bot #datos_bot {
  width: 10.5rem; }

.article_bot #p_inteligencia {
  justify-content: center;
  text-align: center;
  width: 20rem; }

.article_bot #inteligencia_bot {
  width: 21.6rem; }

.article_bot #p_dashboard {
  width: 16rem; }

.article_bot #dashboard_bot {
  width: 16.8rem; }

.article_bot #p_estimulacion {
  width: 21.7rem; }

.article_bot #estimulacion_bot {
  width: 21.7rem; }

.article_bot #p_gestion {
  width: 13.7rem; }

.article_bot #gestion_bot {
  width: 13.7rem; }

.vectores_bot {
  padding-top: 2rem;
  margin: 2rem;
  margin-top: 0; }

.nuestros_bot {
  background-color: #908f8e;
  padding-bottom: 1rem; }
  .nuestros_bot h2 {
    font-family: 'Inter', sans-serif;
    margin-bottom: 3rem;
    margin-left: 1rem;
    padding-top: 3rem;
    text-decoration: underline; }
  .nuestros_bot p {
    font-family: 'Inter', sans-serif;
    width: 50%;
    margin-left: 1rem;
    margin-top: 2rem; }

.section_implementacion_bots {
  background-color: #d1d1d1; }
  .section_implementacion_bots .div1_section_implementacion {
    background-color: #e04b29;
    padding-top: 1rem;
    height: 15rem; }
    .section_implementacion_bots .div1_section_implementacion h2 {
      font-family: 'Inter', sans-serif;
      padding-top: 6rem;
      margin-left: 1rem;
      text-decoration: underline;
      width: 50%; }

.article_implementacion_bot {
  padding: 2rem; }
  .article_implementacion_bot h2 {
    font-family: 'Inter', sans-serif;
    text-decoration: underline; }
  .article_implementacion_bot h3 {
    font-family: 'Inter', sans-serif; }

.body_sistema {
  background-color: #b13b3b; }

.h2_sistema {
  margin-top: 5rem;
  margin-left: 3rem;
  width: 20rem; }
  .h2_sistema h2 {
    font-family: 'Inter', sans-serif;
    text-decoration: underline; }

.img_sistema_ {
  margin-top: 6.5rem;
  width: 100%;
  height: 400px;
  object-fit: cover; }

@media (max-width: 768px) {
  #navbarNav {
    padding-right: 1rem; }
  .nav-link {
    margin-left: 5rem;
    padding: 1rem;
    text-decoration: underline; }
  .navbar_list {
    display: none; }
  .logo1 {
    width: 14rem;
    padding-left: 1rem; }
  .logo2 {
    display: none;
    margin-left: 5rem;
    width: 2rem; }
  .section_main_container {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    height: 23rem; }
  .span {
    visibility: visible;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 6rem; }
  .rendimiento_div {
    display: flex;
    justify-content: space-between; }
  .rendimiento_div:hover .span {
    visibility: visible;
    text-decoration: underline; }
  .rendimiento_div:hover .rendimiento {
    background-color: #e1ca00; }
  .rendimiento {
    background-color: #d1d1d1;
    width: 15rem;
    height: 100%; }
  .img_rendimiento {
    width: 100%;
    height: 100%; }
  .bots_div:hover .span {
    visibility: visible;
    text-decoration: underline; }
  .bots_div:hover .bots {
    background-color: #161715; }
  .bots_div {
    display: flex;
    justify-content: space-between; }
  .bots {
    background-color: #d1d1d1;
    height: 15rem;
    width: 15rem;
    background-image: url("/Images/VECTOR BOTS HORIZONTAL.png");
    background-repeat: no-repeat;
    background-size: contain; }
  .img_bots {
    display: none; }
  .sistemas_div:hover .span {
    visibility: visible;
    text-decoration: underline; }
  .sistemas_div:hover .sistema {
    background-color: #b13b3b; }
  .sistemas_div {
    display: flex;
    justify-content: space-between; }
  .sistema {
    background-color: #d1d1d1;
    height: 100%;
    width: 15rem; }
  .img_sistema {
    width: 100%;
    height: 100%; }
  .section_bot_mainIMG {
    width: 100%;
    height: 50rem;
    background-image: url("/Images/RENDER BOT VERTICAL.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    .section_bot_mainIMG img {
      display: none; }
  .row_bots {
    display: flex;
    flex-direction: column; }
  .article_bot {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .article_bot p {
      width: 100%;
      color: white;
      padding: 1rem;
      object-position: center; }
    .article_bot #p_datos {
      width: 100%; }
    .article_bot #datos_bot {
      width: 50%; }
    .article_bot #p_inteligencia {
      justify-content: center;
      text-align: center;
      width: 100%; }
    .article_bot #inteligencia_bot {
      width: 100%; }
    .article_bot #p_dashboard {
      width: 100%; }
    .article_bot #dashboard_bot {
      width: 75%; }
    .article_bot #p_estimulacion {
      width: 100%; }
    .article_bot #estimulacion_bot {
      width: 100%; }
    .article_bot #p_gestion {
      width: 100%; }
    .article_bot #gestion_bot {
      width: 60%; }
  .div_container_img_bot {
    background-color: #e0d700; } }
