* {
  padding: 0;
  margin: 0; }

.header_bots {
  position: absolute;
  right: 0;
  z-index: 200; }

.header_sistemas {
  position: absolute;
  right: 0;
  z-index: 400; }

#hamburguesaOff {
  font-size: xx-large; }

#button {
  border: none !important; }

button:focus:not(:focus-visible) {
  outline: none; }

.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none; }

.mensajeabout {
  position: absolute;
  font-size: 15px;
  z-index: 100;
  width: 18vw;
  padding: 1vw;
  display: none;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); }

#navbarNav {
  padding-right: 1rem; }

.nav-link {
  margin-left: 15vh;
  margin-top: 3vh;
  text-decoration: underline;
  font-family: 'Inter', sans-serif; }

.logo1 {
  width: 35vh;
  padding-left: 1rem; }

.logo2 {
  margin-top: 1rem;
  margin-left: 15vh;
  width: 4vh; }

.logoResponsive {
  width: 35vh;
  padding-left: 1rem; }

.textoResponsive {
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 100; }
  .textoResponsive p {
    width: 50%;
    margin-left: 40%;
    margin-top: 50%;
    font-family: 'Inter', sans-serif; }

.section_main {
  margin-bottom: 1.5rem; }

.section_main_container {
  display: flex;
  position: absolute;
  bottom: 3rem;
  right: 1.5rem;
  left: 1.5rem; }

.span {
  visibility: hidden;
  font-family: 'Inter', sans-serif; }

.rendimiento_div:hover .span {
  color: #161715;
  visibility: visible;
  text-decoration: underline; }

.rendimiento_div:hover .rendimiento {
  background-color: #e0d700; }

.rendimiento_div {
  height: 60vh; }

.rendimiento {
  background-color: #d1d1d1;
  height: 100%; }

.img_rendimiento {
  object-position: center;
  width: 96.7%;
  height: 100%; }

.bots_div:hover .span {
  color: #161715;
  visibility: visible;
  text-decoration: underline; }

.bots_div:hover .bots {
  background-color: #1d1d1b; }

.bots_div {
  height: 60vh; }

.bots {
  background-color: #d1d1d1;
  height: 100%; }

.img_bots {
  width: 100%;
  height: 100%; }

.sistemas_div:hover .span {
  color: #161715;
  visibility: visible;
  text-decoration: underline; }

.sistemas_div:hover .sistema {
  background-color: #eb664f; }

.sistemas_div {
  height: 60vh; }

.sistema {
  background-color: #d1d1d1;
  height: 100%; }

.img_sistema {
  width: 100%;
  height: 100%; }

.body_rendimiento {
  background-color: #908f8e; }

.header_rendimiento {
  position: absolute;
  right: 0;
  z-index: 300; }

.rendimiento_main .title_rendimiento {
  text-decoration: underline;
  font-family: 'Inter', sans-serif;
  padding-left: 4vh; }

.first_div {
  height: 70vh;
  padding-top: 15vh; }

.contenedorImg {
  padding-top: 5%;
  display: flex;
  justify-content: space-around; }
  .contenedorImg img {
    width: 30%; }

.contenedorParrafo {
  padding-left: 4vh;
  padding-top: 4%;
  background-color: #e1ca00;
  width: 100%;
  height: 30vh; }
  .contenedorParrafo p {
    font-family: 'Inter', sans-serif;
    display: block;
    text-align: start;
    font-size: 2.5vh; }

.div_responsive {
  display: none; }

.section_bot_mainIMG {
  width: 100%; }
  .section_bot_mainIMG img {
    object-fit: fill;
    width: 100%; }

.section_bot_descripcion {
  width: 100%;
  height: 110vh;
  background-color: #1d1d1b; }

.div_container_img_bot {
  width: 100%; }

.articles_bot_main {
  width: 100%;
  display: flex; }
  .articles_bot_main article img {
    width: 100%; }
  .articles_bot_main article p {
    color: white;
    padding: 1vh;
    word-wrap: break-word;
    font-size: 1.2vw; }

.nuestros_bot_section {
  padding-top: 5vh;
  height: 100vh;
  background-color: #1d1d1b; }

.vectores_bot {
  height: 60%; }
  .vectores_bot .img_vectores_bot {
    display: flex;
    justify-content: space-around; }
    .vectores_bot .img_vectores_bot div {
      padding: 1rem; }
    .vectores_bot .img_vectores_bot img {
      height: 80%;
      width: 100%;
      object-fit: contain; }

.nuestros_bot_text {
  background-color: #908f8e;
  width: 100%;
  height: 100%; }
  .nuestros_bot_text h2 {
    padding: 3vh;
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
    font-size: 2vw; }
  .nuestros_bot_text p {
    font-family: 'Inter', sans-serif;
    padding: 4vh;
    margin-bottom: 0;
    font-size: 1.2vw; }

.section_implementacion_bots {
  background-color: #d1d1d1;
  height: 100vh; }
  .section_implementacion_bots .div1_section_implementacion {
    background-color: #e04b29;
    padding-top: 1rem;
    height: 30%; }
    .section_implementacion_bots .div1_section_implementacion h2 {
      font-family: 'Inter', sans-serif;
      padding-top: 6.5vh;
      margin-left: 1rem;
      text-decoration: underline;
      width: 50%;
      font-size: 2vw; }

.contenedor_article_bot {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vh; }

.article_implementacion_bot {
  text-align: start;
  margin-top: 1vh;
  padding: 10vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 3vh; }
  .article_implementacion_bot h3 {
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
    font-size: 2vw; }
  .article_implementacion_bot p {
    font-size: 1.5vw; }

.carrousel {
  display: none; }

.body_sistema {
  background-color: #eb664f; }

.section_sistema {
  height: 100vh; }

.h2_sistema {
  height: 40vh; }
  .h2_sistema h2 {
    padding-top: 15vh;
    margin-left: 4vh;
    width: 50vh;
    font-family: 'Inter', sans-serif;
    text-decoration: underline; }

.img_sistema_ {
  object-fit: cover;
  width: 100%;
  height: 60vh; }

@media (max-width: 600px) {
  #navbarNav {
    padding-right: 1rem; }
  .nav-link {
    margin-left: 5rem;
    padding: 1rem;
    text-decoration: underline; }
  .navbar_list {
    display: none; }
  .logo1 {
    width: 14rem;
    padding-left: 1rem; }
  .logo2 {
    display: none;
    margin-left: 5rem;
    width: 2rem; }
  .section_main_container {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 40vh; }
    .section_main_container a {
      color: #161715; }
  .span {
    visibility: visible;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 10vh;
    margin-bottom: 10vh; }
  .rendimiento_div {
    display: flex;
    justify-content: space-between; }
  .rendimiento_div:hover .span {
    visibility: visible;
    text-decoration: underline; }
  .rendimiento_div:hover .rendimiento {
    background-color: #e1ca00; }
  .rendimiento {
    background-color: #d1d1d1;
    width: 50%;
    height: 100%; }
  .img_rendimiento {
    width: 100%;
    height: 100%; }
  .bots_div:hover .span {
    visibility: visible;
    text-decoration: underline; }
  .bots_div:hover .bots {
    background-color: #161715; }
  .bots_div {
    display: flex;
    justify-content: space-between; }
  .bots {
    background-color: #d1d1d1;
    height: 100%;
    width: 50%;
    background-image: url("/Images/VECTOR BOTS HORIZONTAL.png");
    background-repeat: no-repeat;
    background-size: contain; }
  .img_bots {
    display: none; }
  .sistemas_div:hover .span {
    visibility: visible;
    text-decoration: underline; }
  .sistemas_div:hover .sistema {
    background-color: #b13b3b; }
  .sistemas_div {
    display: flex;
    justify-content: space-between; }
  .sistema {
    background-color: #d1d1d1;
    height: 100%;
    width: 50%; }
  .img_sistema {
    width: 100%;
    height: 100%; }
  .header_rendimiento {
    position: absolute;
    right: 0;
    z-index: 300; }
  .rendimiento_main .title_rendimiento {
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
    padding-left: 3vh; }
  .first_div {
    height: 70vh;
    padding-top: 6vh; }
  .contenedorImg {
    padding-top: 2vh;
    padding-left: 2vh;
    display: flex;
    flex-direction: column;
    height: 50vh; }
    .contenedorImg img {
      object-fit: scale-down;
      width: 70vw;
      height: 33%;
      padding: 1vh; }
  .contenedorParrafo {
    padding: 5%;
    background-color: #161715;
    width: 100%;
    height: 100%; }
    .contenedorParrafo p {
      font-family: 'Inter', sans-serif;
      display: block;
      text-align: start;
      color: white;
      font-size: 2vh; }
  .br {
    display: none; }
  .div_responsive {
    display: block;
    background-color: #e0d700;
    height: 100vh; }
    .div_responsive .div_resposive_text {
      height: 30vh; }
      .div_responsive .div_resposive_text h2 {
        text-decoration: underline;
        font-family: 'Inter', sans-serif;
        font-size: 5vw;
        padding-top: 15%;
        padding-left: 5%; }
    .div_responsive img {
      height: 70vh;
      width: 100%;
      object-fit: cover; }
  .section_bot_mainIMG {
    display: none; }
  .section_bot_descripcion {
    width: 100%;
    height: 100%;
    background-color: #161715; }
  .div_container_img_bot {
    width: 100%;
    background-color: #e0d700; }
  .articles_bot_main {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .articles_bot_main article img {
      width: 100%; }
    .articles_bot_main article p {
      color: white;
      font-size: 2vh; }
    .articles_bot_main article #p_dashboard {
      width: 100%; }
    .articles_bot_main article #dashboard_bot {
      width: 80%; }
    .articles_bot_main article #datos_bot {
      width: 50%; }
    .articles_bot_main article #gestion_bot {
      width: 65%; }
  .nuestros_bot_section {
    background-color: #161715;
    height: 100vh;
    padding-top: 0vh; }
  .nuestros_bot_text {
    background-color: #908f8e;
    height: 60vh; }
    .nuestros_bot_text h2 {
      display: none; }
    .nuestros_bot_text p {
      font-family: 'Inter', sans-serif;
      font-size: 2vh; }
  .vectores_bot {
    height: 40vh;
    padding: 2rem; }
    .vectores_bot .img_vectores_bot {
      display: none; }
  .section_implementacion_bots {
    background-color: #d1d1d1;
    height: 100%; }
    .section_implementacion_bots .div1_section_implementacion {
      background-color: #e04b29;
      height: 20vh; }
      .section_implementacion_bots .div1_section_implementacion h2 {
        margin: 4vh;
        font-family: 'Inter', sans-serif;
        padding-top: 0%;
        text-decoration: underline;
        width: 50%;
        font-size: 4vw; }
  .contenedor_article_bot {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh; }
  .article_implementacion_bot {
    text-align: start;
    margin-top: 1vh;
    padding: 8vh;
    padding-top: 1vh;
    padding-bottom: 3vh;
    padding-left: 3vh; }
    .article_implementacion_bot h3 {
      text-decoration: underline;
      font-family: 'Inter', sans-serif;
      font-size: 4vw; }
    .article_implementacion_bot p {
      font-size: 4vw; }
  .carrousel {
    display: block;
    width: 100%; }
  .img_carousel {
    width: 100%;
    height: 100%; }
  .carousel-indicators [data-bs-target] {
    position: relative;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    bottom: -7vh; }
  .body_sistema {
    background-color: #b13b3b; }
  .h2_sistema h2 {
    margin-left: 5vh;
    width: 30vh;
    font-family: 'Inter', sans-serif;
    text-decoration: underline; }
  .footer_sistema {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .img_sistema_ {
    width: 100%;
    height: 60vh;
    object-fit: cover; } }
